@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #ffffff;
  --color-grey: #efe6e4;
  --color-brown: #533738;
  --color-light-brown: #8d7370;
  --color-brown-op-80: rgba(100, 72, 69, 0.8);
  --color-coral: #cc8b86;
  --color-light-coral: #e2c4ba;
  --color-light-grey: #f5f2ed;
  --color-light-grey-2: #f6ede9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container--small {
  width: 1034px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.page {
  display: grid;
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  color: var(--color-brown);
  background-color: var(--color-grey);
}

.page__header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 24px 0;
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-right: 10px;
}

.link {
  color: var(--color-brown);
  text-decoration: none;
}

.link:hover,
.link:focus {
  opacity: 0.4;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  width: 842px;
  flex-wrap: wrap;
  list-style: none;
}

.navigation__item:not(:last-of-type) {
  margin-right: 29px;
}

.navigation__link {
  color: var(--color-brown);
}

.phone-link {
  display: flex;
  align-items: center;
  color: var(--color-brown);
}

.section {
  padding: 65px 0;
}

.section__heading {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

.section__heading--left {
  text-align: left;
}

.brown-colored {
  background-color: var(--color-light-brown);
  color: var(--color-white);
}

.promo {
  padding-top: 110px;
  padding-bottom: 169px;
  background-image: url("../images/background/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__title {
  width: 530px;
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 20px;
}

.promo__text {
  width: 430px;
  line-height: 30px;
  margin-bottom: 25px;
}

.button {
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.button--request {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 309px;
  padding: 25px;
  background-color: var(--color-coral);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.float-left {
  float: left;
  margin-right: 62px;
  margin-bottom: 21px;
}

.about {
  padding-bottom: 0;
}

.about__text {
  line-height: 30px;
}

.about__text + .about__text {
  margin-top: 30px;
}

.statistic {
  display: flex;
  justify-content: space-between;
  padding: 85px 0 81px;
}

.statistic__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic__term {
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 6px;
}

.statistic__definition {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.gallery__list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 180px 1fr;
  gap: 25px 20px;
  margin-bottom: 37px;
  padding-left: 0;
  list-style: none;
}

.gallery__card:nth-child(4n-2),
.gallery__card:nth-child(4n-1) {
  grid-column: span 2;
}

.gallery__card:nth-child(4n-3) > img,
.gallery__card:nth-child(4n) > img {
  width: 488px;
  height: 451px;
}

.gallery__card:nth-child(4n-2) > img,
.gallery__card:nth-child(4n-1) > img {
  width: 692px;
  height: 451px;
}

.card {
  position: relative;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 5px;
  right: 0;
  padding: 25px 35px 35px;
  background: linear-gradient(rgba(100, 72, 69, 0.8), rgba(100, 72, 69, 0.8));
  color: var(--color-white);
}

.card__title {
  width: 270px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.card__text {
  line-height: 30px;
}

.gallery__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.gallery__link > svg {
  margin-left: 10px;
}
